%header
  .profile
    .avatar
      %img{src: 'avatar.png', alt: ''}
    %h1 Joni Korpi
    %small @jonikorpi
    
  .search
    %form
      %input{type: 'search'}
  

%section{:role => "main"}
  - if @statuses.any?
    %ul
      = list_of @statuses do |status|
        = render status
  - else
    %ul 
      %li 
        No Tweets have been imported yet.

%footer
  .footer-icons &#9670; &#9670; &#9670;

%nav
  %ul
    %li.year
      %a{href: '#'} Recent
    %li.year
      %a{href: '#'} 2012
      %ul
        %li
          %a{href: '#'} January
        %li
          %a{href: '#'} February
        %li
          %a{href: '#'} March
        %li
          %a{href: '#'} April
        %li
          %a{href: '#'} May
        %li
          %a{href: '#'} June
        %li
          %a{href: '#'} July
        %li
          %a{href: '#'} August
        %li
          %a{href: '#'} September
        %li
          %a{href: '#'} October
        %li
          %a{href: '#'} November
        %li
          %a{href: '#'} December
    %li.year
      %a{href: '#'} 2011
      %ul
        %li
          %a{href: '#'} January
        %li
          %a{href: '#'} February
        %li
          %a{href: '#'} March
        %li
          %a{href: '#'} April
        %li
          %a{href: '#'} May
        %li
          %a{href: '#'} June
        %li
          %a{href: '#'} July
        %li
          %a{href: '#'} August
        %li
          %a{href: '#'} September
        %li
          %a{href: '#'} October
        %li
          %a{href: '#'} November
        %li
          %a{href: '#'} December
    %li.year
      %a{href: '#'} 2010
      %ul
        %li
          %a{href: '#'} January
        %li
          %a{href: '#'} February
        %li
          %a{href: '#'} March
        %li
          %a{href: '#'} April
        %li
          %a{href: '#'} May
        %li
          %a{href: '#'} June
        %li
          %a{href: '#'} July
        %li
          %a{href: '#'} August
        %li
          %a{href: '#'} September
        %li
          %a{href: '#'} October
        %li
          %a{href: '#'} November
        %li
          %a{href: '#'} December