#login
  - if current_user
    You are
    = '@' + current_user.name + '.'
    <br/>
    = link_to "Your tweets", statuses_path(limit: 100)
  - else
    Hey there.<br/>
    = link_to "Sign in via Twitter", "/auth/twitter"
