@charset 'UTF-8';

@import 'compass';
@import 'reset';

$background:  white;
$highlight:   rgba(0,0,0, 0.056);
$border:      rgba(0,0,0, 0.146);

$aside:       rgba(0,0,0, 0.5);
$body:        rgba(0,0,0, 0.854);
$emphasis:    rgba(0,0,0, 0.91);

$link:        hsl(196, 100%, 35%);


/*  --------------------
    Typography & colours
    --------------------  */

$font-size: 14;
$line-height: 21;

body {
  font-size: em($font-size, 16);
  line-height: lines(1);
  font-family: 'Helvetica Neue', sans-serif;
  color: $body;
  background: $highlight;
}

a {
  text-decoration: none;
  color: $link;
}

  a:hover {
    border-bottom: 1px solid $link;
  }

  a:active {
    color: $aside;
    border-bottom-color: $aside;
  }

h1 {
  color: $emphasis;
  font-size: em(17);
  line-height: em(20, 17);
}

h2 {
  font-weight: 600;
  color: $emphasis;
  font-size: 1em;
  margin-bottom: em($line-height);
}

small {
  font-size: em(12);
  line-height: em($line-height, 12);
  color: $aside;

  a {
    color: $aside;
  }

  a:hover {
    color: $link;
  }

  a:active {
    color: $aside
  }

}

nav {

  a {
    color: $body;
  }

  a:hover {
    color: $link;
  }

  a:active {
    color: $aside;
  }

  .active a {
    font-weight: bold;
  }

  .year {
    color: $aside;
  }

}

blockquote, p {

}


/*  -------------
    Mobile layout
    -------------  */

article {

}

  nav {
    background: $highlight;
    @include clearfix;

    .timeline, .search, .sign-out,
    select, input {
      @include box-sizing(border-box);
    }

    .timeline {
      width: 50%;
      float: left;
      padding: lines(0.5) lines(0.25) lines(0.5) lines(0.5);

      select {
        width: 100%;
        font-size: large;
      }

      input[type=submit] {
        display: none;
      }

    }

    .search {
      width: 50%;
      float: left;
      padding: lines(0.5) lines(0.5) lines(0.5) lines(0.25);

      input[type=search] {
        width: 100%;
        font-size: large;
      }

      input[type=submit] {
        display: none;
      }

    }
  }


  header {
    position: relative;
  }

    .profile {
      padding: lines(1.5) lines(0.5) lines(1);
      @include clearfix;

    }

      .avatar {
        position: relative;
        width: lines(2);
        height: lines(2);
        float: left;
        margin-right: lines(0.5);
        overflow: hidden;
        background: $background;

        &:hover {
          border: 0;
        }

        img {
          width: 100%;
          display: block;
          @include border-radius(em(5));
        }

      }

  section {
    padding: 0 lines(0.5);

    li {
      margin-bottom: lines(0.5);
      border: 1px solid $border;
      padding: lines(0.5);
      list-style: none;
      display: block;
      @include border-radius(em(8));
      background: $background;
    }

    .ss-retweet:before {
      position: relative;
      top: em(2);
    }

  }

  footer {
    text-align: center;
    margin-top: lines(1);
    padding-bottom: lines(2);
  }

  #login {
    position: absolute;
    left: 0; top: 50%;
    width: 100%;
    text-align: center;
    margin-top: lines(-1);
  }

.flash {
  width: 100%;
  background: $highlight;
  border-bottom: 1px solid $aside;
  text-align: center;
  cursor: pointer;

  &.notice {
    color: green;
  }

  &.alert {
    color: red;
  }
}

/*  -------------
    Mobile layout
    Tweaks
    -------------  */

@media screen and (min-width: 30em) {

  header, section, nav .wrapper {
    max-width: lines(24);
    margin: 0 auto;
    @include box-sizing(border-box);
  }

  nav {

    .timeline {
      padding-right: lines(0.5);
      padding-left: lines(1);
    }

    .search {
      padding-left: lines(0.5);
      padding-right: lines(1);
    }

  }

  .profile, section {
    padding-left: lines(1);
    padding-right: lines(1);
  }

  .profile {
    margin-right: lines(10);
  }

}


/*  -------------
    Tablet layout
    -------------  */

@media screen and (min-width: 37.5em) {
  
  body {
    font-size: em(16, 16);
  }
  
  .profile {
    padding-top: lines(2);
  }

}


/*  -----------------
    Widescreen tweaks
    -----------------  */

@media screen and (min-width: 88em) {

  

}