@charset 'UTF-8';

@import 'compass';
@import 'reset';

$background:  white;
$highlight:   rgba(0,0,0, 0.056);
$border:      rgba(0,0,0, 0.146);

$aside:       rgba(0,0,0, 0.5);
$body:        rgba(0,0,0, 0.854);
$emphasis:    rgba(0,0,0, 0.91);

$link:        hsl(196, 100%, 35%);


/*  --------------------
    Typography & colours
    --------------------  */

$font-size: 16;
$line-height: 22;

body {
  font-size: em($font-size, 16);
  line-height: lines(1);
  font-family: "Source Sans Pro", sans-serif;
  color: $body;
  background: $highlight;
}

a {
  text-decoration: none;
  color: $link;
}

  a:hover {
    border-bottom: 1px solid $link;
  }

  a:active {
    color: $aside;
    border-bottom-color: $aside;
  }

h1 {
  color: $emphasis;
  font-size: em(26);
  line-height: lines(1.5, 26);
}

h2 {
  color: $emphasis;
  font-size: 1em;
  margin-bottom: em($line-height);
}

small {
  display: block;
  font-size: em(13);
  line-height: em(18, 13);
  margin-top: em(6, 13);
  color: $aside;

  a {
    color: $aside;
  }

  a:hover {
    color: $link;
  }

  a:active {
    color: $aside
  }

}

h1, h2, strong {
  font-weight: 600;
}

nav {

  a {
    color: $body;
  }

  a:hover {
    color: $link;
  }

  a:active {
    color: $aside;
  }

  .active a {
    font-weight: bold;
  }

  .year {
    color: $aside;
  }

}

blockquote, p {

}


/*  -------------
    Mobile layout
    -------------  */

article {

}

  nav {
    background: $highlight;
    border-bottom: 1px solid $border;
    @include clearfix;

    .timeline, .search, .sign-out,
    select, input {
      @include box-sizing(border-box);
    }

    .timeline {
      width: 50%;
      float: left;
      padding: lines(0.382) lines(0.382/2) lines(0.382) lines(0.382);

      select {
        width: 100%;
        font-size: large;
      }

      input[type=submit] {
        display: none;
      }

    }

    .search {
      width: 50%;
      float: left;
      padding: lines(0.382) lines(0.382) lines(0.382) lines(0.382/2);

      input[type=search] {
        width: 100%;
        font-size: large;
      }

      input[type=submit] {
        display: none;
      }

    }
  }


  header {
    position: relative;
  }

    .profile {
      padding: lines(1.618) lines(0.382) lines(1);
      text-align: center;
    }
      
      .profile p {
        color: $aside;
      }

  section {
    padding: 0 lines(0.382);

    li {
      margin-bottom: lines(0.618);
      border: 1px solid $border;
      padding: lines(0.618);
      list-style: none;
      display: block;
      position: relative;
      @include border-radius(em(8));
      background: $background;
    }

      .avatar {
        float: left;
        width: em(18*2, 13);
        margin-right: lines(0.382, 13);
        overflow: hidden;
        background: $background;

        img {
          width: 100%;
          display: block;
          @include border-radius(em(5));

          &.lazy {
            display: none;
          }
        }

      }
      
      small {
        min-height: lines(1.5, 13);
      }

  }

  footer {
    text-align: center;
    margin-top: lines(1);
    padding-bottom: lines(2.618);
  }

  #login {
    position: absolute;
    left: 0; top: 50%;
    width: 100%;
    text-align: center;
    margin-top: lines(-1);
  }

.flash {
  width: 100%;
  background: $highlight;
  border-bottom: 1px solid $aside;
  text-align: center;
  cursor: pointer;

  &.notice {
    color: green;
  }

  &.alert {
    color: red;
  }
}

/*  -------------
    Mobile layout
    Tweaks
    -------------  */

@media screen and (min-width: 30em) {

  header, section, nav .wrapper {
    max-width: lines(24);
    margin: 0 auto;
    @include box-sizing(border-box);
  }

  nav {

    .timeline {
      padding-right: lines(0.5);
      padding-left: lines(1);
    }

    .search {
      padding-left: lines(0.5);
      padding-right: lines(1);
    }

  }

  .profile, section {
    padding-left: lines(1);
    padding-right: lines(1);
  }
  
  section { 
   
    li {
      
    }
  
    .avatar {
      width: em(18, 13);
      margin-right: lines(0.236, 13);
    }
    
    small {
      min-height: 0;
    }
    
  }
}


/*  -------------
    Tablet layout
    -------------  */

@media screen and (min-width: 37.5em) {



}


/*  -----------------
    Widescreen tweaks
    -----------------  */

@media screen and (min-width: 88em) {

  

}