@import 'reset';

$font-size: 22;
$line-height: 28;

$background:  hsl(0, 0%, 100%);
$highlight:   hsl(0, 0%, 91%);

$aside:       hsl(0, 0%, 61.8%);
$body:        hsl(0, 0%, 9%);
$emphasis:    hsl(0, 0%, 5.6%);

$link:        hsl(194, 86%, 56%);


/*  --------------------
    Typography & colours
    --------------------  */

body {
  font-size: em($font-size);
  line-height: lines(1);
  font-family: Georgia, serif;
  color: $body;
}

header, small {
  font-family: 'Helvetica Neue', sans-serif;
}

a {
  text-decoration: none;
  color: $link;
}

  a:hover {
    
  }
  
  a:active {
    
  }

h1 {
  color: $emphasis;
}

small {
  color: $aside;
  
  a {
    color: $aside;
  }
  
}

blockquote, p {
  
}


/*  -------------
    Mobile layout
    -------------  */
    
article {
  
}

  header {
    
  }
  
  section {
    
  }
  
    li {
      margin-bottom: lines(2);
    }
    
  footer {
    
  }
  
  nav {
    
  }